@import url('https://fonts.googleapis.com/css?family=ABeeZee:400i|Abril+Fatface|Amatic+SC|IBM+Plex+Sans:300|Indie+Flower|Julius+Sans+One|Lato|Libre+Franklin:200,200i|Lobster|Lora:400i|Monoton|Montserrat|Open+Sans|PT+Serif:400,700|Pacifico|Permanent+Marker|Playfair+Display:400,700|Poiret+One|Questrial|Quicksand:300|Raleway:200,400|Roboto|Rufina|Special+Elite|Spectral:300,400|Ubuntu');
@import url('data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdNZXJyaXdlYXRoZXInOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogMzAwOwogIHNyYzogbG9jYWwoJ01lcnJpd2VhdGhlciBMaWdodCcpLCBsb2NhbCgnTWVycml3ZWF0aGVyLUxpZ2h0JyksIHVybChodHRwczovL2ZvbnRzLmdzdGF0aWMuY29tL3MvbWVycml3ZWF0aGVyL3YxOS91LTRuMHF5cmlRd2xPcmhTdm93S19sNTIxd1JaV01mXy50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQpAZm9udC1mYWNlIHsKICBmb250LWZhbWlseTogJ01lcnJpd2VhdGhlcic7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA0MDA7CiAgc3JjOiBsb2NhbCgnTWVycml3ZWF0aGVyIFJlZ3VsYXInKSwgbG9jYWwoJ01lcnJpd2VhdGhlci1SZWd1bGFyJyksIHVybChodHRwczovL2ZvbnRzLmdzdGF0aWMuY29tL3MvbWVycml3ZWF0aGVyL3YxOS91LTQ0MHF5cmlRd2xPcmhTdm93S19sNS1mQ1pKLnR0ZikgZm9ybWF0KCd0cnVldHlwZScpOwp9Cg==');
// font-family: 'ABeeZee', sans-serif;
// font-family: 'Abril Fatface', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Lora', serif;
// font-family: 'Monoton', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Poiret One', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rufina', serif;
// font-family: 'Special Elite', cursive;
// font-family: 'Spectral', serif;
// font-family: 'Ubuntu', sans-serif;


//ESTILO WEB
$black-modern:#333;
$green-soft:#66E7C2;
$blue-bright:#56BFDC;
$violet-soft:#6F6CC3;
$parrafo:"Raleway", serif;
$parrafo2:"Raleway", serif;
$subtitulo:"Montserrat", serif;
$newwhite:#EFEFEF;



.centerPos{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}



.socialIcons{
	padding:0;
	list-style:none;
	@media screen and (max-width:800px){
		text-alignt:center;
	}

	li{
		display:inline-block;
		cursor:pointer;
	}
	.icon{
		color:$black-modern;
		font-size:20px;
		padding:5px;
		transition:0.5s;
		&:hover{
			transition:0.6s;
			color:$green-soft;
		}
	}

}
.row{
	margin: 0px;;
}




// SERVICIOS

.portfolioSeccion{
	overflow:hidden;
	background:linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
	background:whitesmoke;
	height:550px;;
	.imageWrapper{
		width:400%;
		height:100%;
		padding:50px;
		perspective:300px;
		.image{
			transition:all ease-in-out 1.5s;
			width:500px;

			
			padding:10px;

			display:inline-block;
			opacity:0.1;
			transform:translateZ(-30px);
	
		}
	}
}

// MIEMBROS

.miembros{
	background-color:whitesmoke;

	.miembrosWrapper{
		padding:40px;
		.nombre{
			font-size:17px;
		}
		.parrafo1{
			font-size:14px;
		}

		.charlie{
			.avatarWrapp{
				height:90%;
				margin:auto;
				.avatar{
					height:230px;					
				}
			}
			.descripcion{
				.nombretrabajo{
					color:$green-soft;					
				}
			}

		}
		.tomi{
			.avatarWrapp{
				height:90%;
				margin:auto;				
				.avatar{
					height:230px;					
				}
			}
			.descripcion{
				.nombretrabajo{
					color:$blue-bright;
				}
			}

		}
	}
}