@import url("https://fonts.googleapis.com/css?family=ABeeZee:400i|Abril+Fatface|Amatic+SC|IBM+Plex+Sans:300|Indie+Flower|Julius+Sans+One|Lato|Libre+Franklin:200,200i|Lobster|Lora:400i|Monoton|Montserrat|Open+Sans|PT+Serif:400,700|Pacifico|Permanent+Marker|Playfair+Display:400,700|Poiret+One|Questrial|Quicksand:300|Raleway:200,400|Roboto|Rufina|Special+Elite|Spectral:300,400|Ubuntu");
.parrafo {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 15px; }

cuadranteImagen, body .members #member1 #cuadrante1, body .members #member2 #cuadrante4 {
  padding: 10px;
  box-sizing: border-box; }
  cuadranteImagen .avatar, body .members #member1 #cuadrante1 .avatar, body .members #member2 #cuadrante4 .avatar {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    display: block;
    transition: 3s;
    text-align: center; }
    cuadranteImagen .avatar:hover, body .members #member1 #cuadrante1 .avatar:hover, body .members #member2 #cuadrante4 .avatar:hover {
      transition: 3s; }

.encabezado .iencabezado {
  font-size: 50px; }

.socialIcons {
  padding: 0;
  list-style: none; }
  @media screen and (max-width: 800px) {
    .socialIcons {
      text-alignt: center; } }
  .socialIcons li {
    display: inline-block; }
  .socialIcons .icon {
    color: white;
    font-size: 30px;
    padding: 5px;
    transition: 0.5s; }
    .socialIcons .icon:hover {
      transition: 0.6s;
      color: #66E7C2; }

body .members {
  background-color: whitesmoke; }
  body .members .triangle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; }
  body .members .triangle2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%; }
  body .members .cuadrantWrapper {
    padding: 70px 250px 10px 250px; }
    @media screen and (max-width: 800px) {
      body .members .cuadrantWrapper {
        padding: 40px;
        text-alignt: center; } }
  body .members #member1 {
    position: relative;
    background-color: #171819;
    color: whitesmoke;
    text-align: right; }
    body .members #member1 #cuadrante2 {
      padding-top: 70px;
      box-sizing: border-box;
      padding: 70px 10px; }
      @media screen and (max-width: 800px) {
        body .members #member1 #cuadrante2 {
          padding: 20px; } }
      body .members #member1 #cuadrante2 .nombretrabajo {
        color: #66E7C2; }
        @media screen and (max-width: 800px) {
          body .members #member1 #cuadrante2 .nombretrabajo {
            font-size: 17px;
            transition: 1s;
            text-alignt: center; } }
  body .members #member2 {
    text-align: right; }
    body .members #member2 .cuadranteWrapper {
      padding: 0px 250px 10px 250px; }
      @media screen and (max-width: 800px) {
        body .members #member2 .cuadranteWrapper {
          padding: 40px;
          text-alignt: center; } }
    body .members #member2 #cuadrante3 {
      padding: 70px 10px;
      box-sizing: border-box; }
      body .members #member2 #cuadrante3 .nombretrabajo {
        color: #1370DE; }
      body .members #member2 #cuadrante3 .icon {
        color: black; }
        body .members #member2 #cuadrante3 .icon:hover {
          color: #1370DE; }

/*# sourceMappingURL=estilos.css.map */
